<div *ngIf="reserva">
    <div>
        <h1 class="h2">Detalle reserva</h1>
    </div>
    <p>Editar/Eliminar reservas</p>
    <div class="form-group">
        <label>Id:
            {{reserva.id}}
        </label>
    </div>
    <div class="form-group">
        <label>ClienteId:
            {{reserva.clienteId}}
        </label>
    </div>
    <div class="form-group">
        <label>Estado:
            {{reserva.estado}}
        </label>
    </div>
    <div class="form-group">
        <label>Cantidad personas:
            <input [(ngModel)]="reserva.cantidadpersonas" class="form-control" required placeholder="digite número de personas" type="number"/>
        </label>
    </div>
    <div class="form-group">
        <label>Fecha:
            <input [(ngModel)]="reserva.fecha" class="form-control" required placeholder="digite fecha" type="string"/>
        </label>
    </div>
    <div class="form-group">
        <button (click)="update()" class="btn btn-primary">Actualizar</button>&nbsp;&nbsp;
        <button (click)="delete()" class="btn btn-primary">Eliminar</button>
    </div>
</div>


